 body{
	font-size:12px;
    margin:0px;
	padding:0px;
	text-align:center;
	background:#eae5e2 url(main.jpg) no-repeat fixed;
	color:#333333;
	font-family: Verdana, Arial;
}
 img {max-width: 100%;height: auto;}
 select{font-family: Verdana, Arial}
 th{background:#6B5449;}