<?xml version="1.0" encoding="UTF-8"?>
<PluginSet>
 <PluginName>f2blog</PluginName>
 <PluginVersion>1.1</PluginVersion>
 <FunctionName>f2_quote,f2_hide,f2_more,f2_page</FunctionName>
 <FunctionImage>quote.gif,hide.gif,more.gif,page.gif</FunctionImage>
 <FunctionDesc>引用,隐藏,截止,分页</FunctionDesc>
 <PluginAuthor>Joesen</PluginAuthor>
 <pubDate>2006-8-2</pubDate>
 <AuthorURL>http://joesen.f2blog.com</AuthorURL>
 <AuthorMail>joesenhong@yahoo.com.cn</AuthorMail>
</PluginSet>