 /*---其他样式---*/  
 .userpass{border:1px solid;border-color:#947C74;font-size:10px;font-family: Verdana, Arial, Helvetica, sans-serif;}
 .userpass:hover,.userpass:focus{border-color:#947C74;background:#947C74}
 .inputBox{border:1px solid;border-color:#947C74;font-size:10px;}
 .inputBox:hover,.inputBox:focus{border-color:#947C74;background:#947C74}
 .userbutton{BORDER-RIGHT: #947C74 1px solid; BORDER-TOP: #947C74 1px solid; BORDER-LEFT: #947C74 4px solid; COLOR: #555; BORDER-BOTTOM: #947C74 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #947C74}
 .LinkTable{margin:5px 10px 5px 0px;}
 .commentTable{}
 .high1{font-weight:bold;color:#f00;background:#ff0}
 .CateIcon{display:none}
/*日历样式*/
#Calendar_Body{text-align: center; height: 160px;}

/*日历样式-顶部*/
#Calendar_Body #Calendar_Top { height: 20px;}

/*日历样式-顶部按钮-左*/
#Calendar_Body #Calendar_Top #LeftB{float: left; cursor: pointer; background:url('../../images/BttnLeft.gif'); height: 16px; width: 9px; margin-left: 1em;}

/*日历样式-顶部按钮-右*/
#Calendar_Body #Calendar_Top #RightB{float: right; cursor: pointer; background:url('../../images/BttnRight.gif'); height: 16px; width: 9px; margin-right: 1em;}

/*日历样式-星期*/
#Calendar_Body #Calendar_week {text-align: center;}
ul.Week_UL {list-style: none; display: inline;}
ul.Week_UL li {float: left; width: 13%;}

/*日历样式-日期*/
  .Calendar_Day {text-align:center;height:20px;padding:0px 0px 0px 1%;}
  .Calendar_Day ul.Day_UL{display:inline;list-style:none;}
  .Calendar_Day ul.Day_UL li{display:inline;float:left;width:15%;}

/*日历样式-日期-超链接样式*/
.DayA a {display: block; padding: 0px 0; height: 20px; color: #666;}
.DayA a:link,.DayA a:visited {}
.DayA a:hover {color: #947C74;}

/*日期选中*/
.DayA a.click {font-weight: bold;}
.DayA a.click:link,.DayA a.click:visited {text-decoration: none;}
.DayA a.click:hover {color: #947C74;}
  
/*今天*/
.DayA a.today {font-weight: bold; color: #F2F1D3; background: #947C74;filter:alpha(opacity=50);-moz-opacity:0.5;}

/*非本月日期*/
.DayA a.otherday {color: #aaa;}
.DayA a.otherday:link,.DayA a.otherday:visited {font-weight: bold; text-decoration: underline;}
.DayA a.otherday:hover {color: #947C74; text-decoration: none;}

/*本日存在日记*/
.DayA a.haveD {font-weight: bold;}
.DayA a.haveD:link,.DayA a.haveD:visited {color: #947C74; text-decoration: underline;}
.DayA a.haveD:hover { color: #947C74; text-decoration: none;}

/*今天存在日记*/
.DayA a.DayD {font-weight: bold;}
.DayA a.DayD:link,.DayA a.DayD:visited {border: solid 1px #947C74; color: #947C74;}
.DayA a.DayD:hover {border: solid 1px #947C74; color: #947C74; text-decoration: none;}

/*显示和隐藏置顶日志按钮*/
   .BttnC{float:right;width:16px;height:16px;background:url('Cprevious.gif') no-repeat;margin-top:0px;cursor:pointer}
   .BttnE{float:right;width:16px;height:16px;background:url('Cnext.gif') no-repeat;margin-top:0px;cursor:pointer}
/*提示框CSS*/
   div.nicetitle {
    position: absolute;
    padding: 4px !important;
	padding: 6px 4px 4px 4px;
    top: 0;
    left: 0;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 15em;
    background: #FFFBD1 url(../../images/nicetitlebg.jpg);
    color: #3D2C05;
    border: 1px solid #715208;
    text-align: left;
}
   div.nicetitle p {
    margin: 0; padding: 0 3px;
}
   div.nicetitle p.destination {
    font-size: 9px;
    text-align: left;
    padding:3px 0px 0px 3px;
	color: #715208;
	/*display:none;*/
}

/*特别样式*/
#Side_Calendar .Pcontent{}
/*自定义侧栏*/

#Side_Category{
position:absolute;
top:118px;
left:772px!important;left:779px;
width:190px;
BORDER-TOP: #947C74 1px solid;
BORDER-RIGHT: #947C74 3px solid;
BORDER-LEFT: #947C74 1px solid;
BORDER-BOTTOM:#947C74 3px solid;
background:url(sidebar_bg.jpg) right repeat;
}	
#Side_Search{
position:absolute;
top:250px;
left:772px!important;left:779px;
width:190px;
BORDER-TOP: #947C74 1px solid;
BORDER-RIGHT: #947C74 3px solid;
BORDER-LEFT: #947C74 1px solid;
BORDER-BOTTOM:#947C74 3px solid;
background:url(sidebar_bg.jpg) right repeat;
}
#Side_BlogInfo{
position:absolute;
top:360px;
left:772px!important;left:779px;
width:190px;
BORDER-TOP: #947C74 1px solid;
BORDER-RIGHT: #947C74 3px solid;
BORDER-LEFT: #947C74 1px solid;
BORDER-BOTTOM:#947C74 3px solid;
background:url(sidebar_bg.jpg) right repeat;
}